*{
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

header {
  font-size: 40px; 
  font-weight: bold;
  color: #FFD700;  
  margin: 10px;
}
/* --- formulario --- */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #222;  
  padding: 35px;
   width: 350px;
  margin-top: 20px;
}

.formulario label {
  text-align: left;
  font-size: 16px;
  color: #FFD700;
  font-weight: bold;
}

.formulario input, 
.formulario select {
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  outline: none;
  background: #111;
  color: white;
}

.formulario input:focus, 
.formulario select:focus {
  border-color: #FFD700;
  box-shadow: 0 0 6px #FFD700;
}
 
/* --- boton --- */
.formulario .boton {
  background:  #FFD700 ;
  color: #111;
  margin-top: 15px;
  padding: 12px;
  font-size: 17px;
 font-weight: bold;

  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

.boton:hover {
  background:  #004080; 
  color: white;
}

/* --------- */

footer {
  position: absolute;
  bottom: 15px;
  font-size: 14px;    
  color: #ccc;
}